.background {
background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

.title-main {
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-size: 5em;
}

.title-sub {
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
	text-align: center;

}

.title-bottom {
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
	text-align: center;
	padding-top: 50px;
}

.title-social {
	font-size: 2em;
	text-align: center;
}

.font-icon {
	margin-right: 20px;
}

.title-conncet {
	font-size: 2em;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	padding-top: 50px;
}

.social-icon-link {
	color: white;
}

.WebContainer{
    height: auto;
}
.articles{
    width:100%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 